# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
4/Debug/vc143.pdb
4/Debug/vc143.idb
4/Debug/vc142.pdb
4/Debug/vc142.idb
4/Debug/4.vcxproj.FileListAbsolute.txt
4/Debug/4.tlog/link.write.1.tlog
4/Debug/4.tlog/link.read.1.tlog
4/Debug/4.tlog/link.command.1.tlog
4/Debug/4.tlog/CL.write.1.tlog
4/Debug/4.tlog/CL.read.1.tlog
4/Debug/4.tlog/CL.command.1.tlog
4/Debug/4.tlog/4.lastbuildstate
4/Debug/4.pdb
4/Debug/4.log
4/Debug/4.ilk
4/Debug/4.exe.recipe
4/.vs/4/v17/ipch/AutoPCH/be78d6fcb37789f2/4.ipch
4/.vs/4/v17/Browse.VC.opendb
4/.vs/4/v17/Browse.VC.db-wal
4/.vs/4/v17/Browse.VC.db-shm
4/.vs/4/v17/Browse.VC.db
4/.vs/4/v17/.suo
4/.vs/4/v16/ipch/AutoPCH/be78d6fcb37789f2/4.ipch
4/.vs/4/v16/Browse.VC.db
4/.vs/4/v16/.suo
.vscode/c_cpp_properties.json
3/tast3.2/.vs/tast3.2/v17/.suo
3/tast3.2/.vs/tast3.2/v17/Browse.VC.db
3/tast3.2/.vs/tast3.2/v17/Browse.VC.db-shm
3/tast3.2/.vs/tast3.2/v17/Browse.VC.db-wal
3/tast3.2/.vs/tast3.2/v17/ipch/AutoPCH/69b42001ee87259f/TAST3.2.ipch
3/tast3.2/tast3.2/x64/Debug/tast3.2.exe.recipe
3/tast3.2/tast3.2/x64/Debug/tast3.2.ilk
3/tast3.2/tast3.2/x64/Debug/tast3.2.log
3/tast3.2/tast3.2/x64/Debug/tast3.2.obj.enc
3/tast3.2/tast3.2/x64/Debug/tast3.2.tlog/CL.command.1.tlog
3/tast3.2/tast3.2/x64/Debug/tast3.2.tlog/CL.read.1.tlog
3/tast3.2/tast3.2/x64/Debug/tast3.2.tlog/CL.write.1.tlog
3/tast3.2/tast3.2/x64/Debug/tast3.2.tlog/link.command.1.tlog
3/tast3.2/tast3.2/x64/Debug/tast3.2.tlog/link.read.1.tlog
3/tast3.2/tast3.2/x64/Debug/tast3.2.tlog/link.write.1.tlog
3/tast3.2/tast3.2/x64/Debug/tast3.2.tlog/tast3.2.lastbuildstate
3/tast3.2/tast3.2/x64/Debug/vc143.idb
3/tast3.2/tast3.2/x64/Debug/vc143.pdb
3/tast3.2/x64/Debug/tast3.2.pdb
4/.vs/4/project-colors.json
3/tast3.2/.vs/tast3.2/v17/Browse.VC.opendb
4/x64/Debug/4.exe.recipe
4/x64/Debug/4.ilk
4/x64/Debug/4.log
4/x64/Debug/4.pdb
4/x64/Debug/4.tlog/4.lastbuildstate
4/x64/Debug/4.tlog/CL.command.1.tlog
4/x64/Debug/4.tlog/CL.read.1.tlog
4/x64/Debug/4.tlog/CL.write.1.tlog
4/x64/Debug/4.tlog/link.command.1.tlog
4/x64/Debug/4.tlog/link.read.1.tlog
4/x64/Debug/4.tlog/link.write.1.tlog
4/x64/Debug/4.vcxproj.FileListAbsolute.txt
4/x64/Debug/vc143.idb
4/x64/Debug/vc143.pdb
4/.vs/4/v17/ipch/AutoPCH/f96d184d82e4b9df/4.ipch
